<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div id="main">
            @if (Request.IsAuthenticated)
            {
                <div id="logindisplay">Welcome <strong>@User.Identity.Name</strong>!</div>
            }
        </div>
        <div>
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>    
</body>
</html>
