@model MeGrab.Web.Models.SnatchGroupScenarioModel

@{
    ViewBag.Title = "RedPacket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RedPacket</h2>

<script type="text/javascript">

    $(document).ready(function () {

        var redPacketService = $.connection.RedPacketService;

        redPacketService.client.redPacketActivityDispatched = function (clientRedPacketGrabActivity) {

            //$("redPacketActivityList").append("li").append("div");

            var totalAmount = clientRedPacketGrabActivity.TotalAmount;
            var userName = clientRedPacketGrabActivity.Dispatcher.Name;
            var message = clientRedPacketGrabActivity.Message;

            $("testInfo").html("金额:" + totalAmount + "; 用户:" + userName);

            redPacketService.server.DisplayNewRedPacketActivity();
        };

        $.connection.hub.start().done(function () {
            redPacketService.server.connect();
            redPacketService.server.DisplayNewRedPacketActivity();
        });

    });


</script>

<div>

    <p id="testInfo">

    </p>

    <ul id="redPacketActivityList"></ul>

</div>

