@model MeGrab.Web.Models.RedPacketGrabActivityQueriesModel
@using MeGrab.DataObjects;

@{
    ViewBag.Title = "RedPacket";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentDate = new DateTime(2015, 4, 27);
}

<h2>RedPacket</h2>

<script type="text/javascript">

    //$(document).ready(function () {

    //    var redPacketService = $.connection.RedPacketService;

    //    redPacketService.client.redPacketActivityDispatched = function (clientRedPacketGrabActivity) {

    //        var totalAmount = clientRedPacketGrabActivity.TotalAmount;
    //        var userName = clientRedPacketGrabActivity.Dispatcher.Name;
    //        var message = clientRedPacketGrabActivity.Message;

    //        $("testInfo").html("金额:" + totalAmount + "; 用户:" + userName);

    //        redPacketService.server.DisplayNewRedPacketActivity();
    //    };

    //    $.connection.hub.start().done(function () {
    //        redPacketService.server.connect();
    //        redPacketService.server.DisplayNewRedPacketActivity();
    //    });

    //});


</script>

<style>
    .redPacketActivity {
        padding: 10px 16px 10px 10px;
        margin: 0 0 10px 0;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 2px;
    }

    .redPacketActivity_face {
        float: left;
    }

    .redPacketActivity h1 {
    }

    .redPacketActivity p {
    }

    .redPacketActivity_handle {
    }

    .redPacketActivity_handle ul {
    }

    .page 
    {
        margin-bottom: 20px;
        width : 80%;
        float : right;
    }

    .page a {

        float: left;
        height: 36px;
        line-height: 36px;
        padding: 0 14px;
        margin-right: 5px;
        font-size: 14px;
        color: #333;
        border: 1px solid #ddd;
        background-color: #f7f7f7;
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
        background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
        background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
        background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
    }

    .selector_line
    {
        width:80%;
        display:block;
    }

    .sl-key {
        float: left;
        width: 100px;
        padding-left: 10px;
    }

    .sl-value-list {
        margin-left: 110px;
        padding-right: 130px;
        padding-left: 10px;
        overflow: hidden;
        zoom: 1;
    }

    .sl-value-list ul {
        float: left;
        overflow: hidden;
        zoom: 1;
        position: relative;
        height: 30px;
    }

    .sl-value-list li {
        margin-right: 50px;
        float: left;
        _display: inline;
        margin-right: 16px;
        margin-bottom: 4px;
        height: 26px;
        line-height: 26px;
    }

</style>

<div class="page clearfix">

    <h1>
        查询条件
    </h1>

    <div class="selector_line">
        <div class="sl-key">
            开始日期
        </div>
        <div class="sl-value-list">
            <ul>
                <li>
                    <a target="_self" 
                       href="~/Home/RedPacketGrabActivityList?startDateTime=@currentDate.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=@string.Join("-", Model.SelectedTotalAmountRange)&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">今天</a>
                </li>
                <li>
                    <a target="_self" 
                       href="~/Home/RedPacketGrabActivityList?startDateTime=@currentDate.AddDays(1).ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=@string.Join("-", Model.SelectedTotalAmountRange)&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">明天</a>
                </li>
                <li>
                    <a target="_self" 
                       href="~/Home/RedPacketGrabActivityList?startDateTime=@currentDate.AddDays(2).ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=@string.Join("-", Model.SelectedTotalAmountRange)&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">后天</a>
                </li>
                <li>
                    选择日期
                </li>
            </ul>
        </div>
    </div>
    <div class="selector_line">
        <div class="sl-key">
            结束日期
        </div>
        <div class="sl-value-list">
            <ul>
                <li>
                    <a>今天</a>
                </li>
                <li>
                    <a>明天</a>
                </li>
                <li>
                    <a>后天</a>
                </li>
                <li>
                    选择日期
                </li>
            </ul>
        </div>
    </div>
    <div class="selector_line">
        <div class="sl-key">
            总金额:
        </div>
        <div class="sl-value-list">
            <ul>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=500-1000&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">500-1000</a>
                </li>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=1000-1050&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">1000-1050</a>
                </li>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=1050-1100&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">1050-1100</a>
                </li>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=1200-&playMode=@Model.SelectedPlayModel&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">1200以上</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="selector_line">
        <div class="sl-key">
            玩法
        </div>
        <div class="sl-value-list">
            <ul>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=@string.Join("-", Model.SelectedTotalAmountRange)&playMode=Fixed&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">固定金额分配</a>
                </li>
                <li>
                    <a target="_self" href="~/Home/RedPacketGrabActivityList?startDateTime=@Model.SelectedStartDateTime.ToString("yyyy-MM-dd")&expireDateTime=@Eagle.Common.Util.DateTimeUtils.ToDateTimeString(Model.SelectedExpireDateTime, "yyyy-MM-dd")&totalAmountRange=@string.Join("-", Model.SelectedTotalAmountRange)&playMode=Random&pageNumber=@Model.PageNo.ToString()&pageSize=@Model.PageSize.ToString()">随机金额分配</a>
                </li>
            </ul>
        </div>
    </div>

</div>


<div class="page clearfix">

    <a type="text/html" href="~/Home/RedPacketGrabActivitiesByPaging?pageNo=1&pageSize=10" target="_self">1</a>
    <a type="text/html" href="~/Home/RedPacketGrabActivitiesByPaging?pageNo=2&pageSize=10" target="_self">2</a>
    <a type="text/html" href="~/Home/RedPacketGrabActivitiesByPaging?pageNo=3&pageSize=10" target="_self">3</a>
    <a type="text/html" href="~/Home/RedPacketGrabActivitiesByPaging?pageNo=4&pageSize=10" target="_self">4</a>
    <a type="text/html" href="~/Home/RedPacketGrabActivitiesByPaging?pageNo=5&pageSize=10" target="_self">5</a>

</div>

<div style="float: left;width:80%" class="clearfix">

    @{
        if (Model != null &&
            Model.PagingRedPacketGrabActivities != null)
        {
            foreach (RedPacketGrabActivityDataObject activity in Model.PagingRedPacketGrabActivities)
            {
                <div class="redPacketActivity clearfix">
                    <div class="redPacketActivity_face">
                        <img src="http://3w.beva.cn/p/res/224/20140116_9f2e5449838edba1.jpg" alt="" style="width:100px;height:100px" />
                    </div>
                    <div>
                        <h1>抢红包活动</h1>
                        <div>
                            <p>
                                开始日期: @activity.StartDateTime.ToString()
                            </p>
                            <p>
                                结束日期: @activity.ExpireDateTime.ToString()
                            </p>
                            <p>
                                总金额: @activity.TotalAmount
                            </p>
                            <p>
                                红包个数: @activity.RedPacketCount
                            </p>
                        </div>
                        <div class="redPacketActivity_handle">
                            <ul>
                                <li>
                                    当前参加人数: 10
                                </li>
                                <li>
                                    评论: 5
                                </li>
                                <li>
                                    收藏: 100
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    }


</div>

