
@{
    ViewBag.Title = "Index";
}

<h2>
    红包活动发布记录 
</h2>

<div>
    
    <div>
        @this.ViewBag.Guid
    </div>
    <div>
        @this.ViewBag.TotalAmount
    </div>
    <div>
        @this.ViewBag.StartDateTime
    </div>
    <div>
        @this.ViewBag.ExpireDateTime
    </div>
</div>