<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>

    <section name="EApp" type="Eagle.Core.Configuration.EAppConfigurationSection, Eagle.Core" />

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

  </configSections>

  <connectionStrings>
    <clear />
    <remove name="MeGrabAccountMySQL" />
    <add name="MeGrabAccountMySQL"
         connectionString="port=3306;server=localhost;user id=root;password=change_198118;database=megrabaccount"
         providerName="Eagle.Repositories.Lite.MySqlOrmLiteDialectProviderFactory, Eagle.Repositories.Lite" />
  </connectionStrings>

  <EApp>

    <application provider="Eagle.Core.Application.App, Eagle.Core" />

    <objectContainer provider="Eagle.Core.IoC.UnityObjectContainerFactory, Eagle.Core" initFromConfigFile="true" sectionName="unity"/>

    <serializationFormats default="Json">
      <format name="XML" type="Eagle.Common.Serialization.ObjectXmlSerializer, Eagle.Common" />
      <format name="Json" type="Eagle.Common.Serialization.ObjectJsonSerializer, Eagle.Common" />
    </serializationFormats>

    <cacheManagers default="Redis">
      <cacheManager name="Redis" type="Eagle.Web.Caches.RedisManager, Eagle.Web.Caches" />
      <cacheManager name="Memcache" type="Eagle.Web.Caches.MemcacheManager, Eagle.Web.Caches" />
    </cacheManagers>
    
    <redis writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" maxWritePoolSize="60" maxReadPoolSize="60"
           autoStart="true" timeOutSeconds="3600"></redis>
  </EApp>
  
  <appSettings>
    <add key="SSOPassportServiceUrl" value="http://passport.wq.com/api/PassportService/GetTokenCredential/"/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <unity>
    <container>

      <register type="Eagle.Domain.Repositories.IRepositoryContext, Eagle.Domain" mapTo="Eagle.Repositories.Lite.LiteRepositoryContext, Eagle.Repositories.Lite">
        <lifetime type="external" />
      </register>

      <register type="MeGrab.Domain.Repositories.IMeGrabUserRepository, MeGrab.Domain" mapTo="MeGrab.Domain.Repositories.Lite.MeGrabUserRepository, MeGrab.Domain.Repositories"></register>

      <register type="MeGrab.ServiceContracts.IMeGrabUserService, MeGrab.ServiceContracts" mapTo="MeGrab.Application.MeGrabUserServiceImpl, MeGrab.Application"></register>

      <register type="MeGrab.ServiceContracts.IRedPacketDispatchService, MeGrab.ServiceContracts" mapTo="MeGrab.Application.RedPacketDispatchServiceImpl, MeGrab.Application"></register>

      <register type="Eagle.Domain.Events.IDomainEventHandler`1[[MeGrab.Domain.Events.RedPacketGrabActivityEvent, MeGrab.Domain], [System.Guid, mscorlib]], Eagle.Domain"
                mapTo="MeGrab.Domain.Events.Handlers.RedPacketGrabActivityMQStoringEventHandler, MeGrab.Domain">
      </register>

      <register type="Eagle.Domain.Events.IDomainEventHandler`1[[MeGrab.Domain.Events.RedPacketGrabActivityEvent, MeGrab.Domain], [System.Guid, mscorlib]], Eagle.Domain"
                mapTo="MeGrab.Domain.Events.Handlers.RedPacketGrabActivityCachingEventHandler, MeGrab.Domain">
      </register>
      
    </container>
  </unity>
  
  
  <system.web>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState mode="Custom" cookieless="UseCookies" customProvider="RedisSessionStateStore" timeout="30">
      <providers>
        <clear />
        <add name="RedisSessionStateStore" type="Eagle.Web.Core.SessionProvider.RedisSessionStateStoreProvider, Eagle.Web.Core"
             writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" />
      </providers>
    </sessionState>

    <authentication mode="Forms">
      <forms name="MeGrab" cookieless="UseCookies" loginUrl="http://passport.wq.com/Account/Login" timeout="300" />
    </authentication>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>
