@model MeGrab.DataObjects.RedPacketGrabActivityDataObject

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.Title = "RedPacket";
}

<script type="text/javascript">


</script>

<h2>发红包</h2>

<div class="redPacketActivityFieldSet">

    <form action="~/Home/Dispatch" method="post">
        <div>

            <div>
                <span><label>红包总数: </label></span>
                <input type="text" id="redPacketCount" name="RedPacketCount" style="width:100px" />
            </div>

            <div class="editor-field">
                <label>总金额: </label>
                <input type="text" id="totalAmount" name="TotalAmount" style="width:100px" />
            </div>

            <div>
                <label>最大参与人数: </label>
                <input type="number" id="memberLimit" name="MemberLimit" style="width:50px" />
            </div>

            <div>
                <label>开始日期时间: </label>
                <input type="datetime-local" id="startDateTime" name="StartDateTime" style="width:100px" />
            </div>

            <div>
                <label>结束日期时间: </label>
                <input type="datetime-local" id="expireDateTime" name="ExpireDateTime" style="width:100px" />
            </div>

            <div>
                <label>留言: </label>
                <input type="text" id="message" name="Message" style="width:200px" />
            </div>

            <div>
                <label>类型: </label>
                <select id="redPacketType" name="DispatchMode" style="width:200px">
                    <option value="0" selected="selected">普通红包，每人收到固定金额</option>
                    <option value="1">随机红包，每人抽到随机金额</option>
                </select>
            </div>

            <div>
                <input id="dispatch" type="submit" value="发送红包" />
            </div>
        </div>
    </form>
</div>